<div class="container">
  <div class="d-flex flex-column col-lg-6 m-auto border-bottom">
    <div class="text-right">
      <div class="py-3">
        <% referer = request.referer %>
        <% if referer&.include?("/edit") %>
          <%= link_to '/posts', class: "" do %>
            <i class="fa-solid fa-xmark fa-xl normal_btn"></i>
          <% end %>
        <% else %>
          <%= link_to referer || '/posts', class: "" do %>
            <i class="fa-solid fa-xmark fa-xl normal_btn"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <% if @post.user_id == current_user.id %>
        <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "mr-4 btn delete_btn" do %>
          <i class="fa-regular fa-trash-can fa-xl"></i><span class="ml-2">削除</span>
        <% end %>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn edit_btn" %>
      <% end %>
    </div>
    <%= render 'public/users/post_account', user: @post.user %>
    <%= render 'posts_content', post: @post %>
    <%= render 'public/posts/posts_content_bottom', post: @post %>

  </div>

  <div class="d-flex flex-column col-lg-6 m-auto">
    <div class="py-4 border-bottom">
      <div id="comments_section">
        <%= form_with(model: [@post, @comment], local: false) do |f| %>
          <%= f.text_area :body, rows: '3', placeholder: "コメントする" ,class: "comment_body w-100" %>
          <div><%= f.submit "送信" ,class: "btn commet_btn" %></div>
        <% end %>
      </div>
    </div>

    <div id="show_comments">
        <%= render 'public/posts/show_comment_list', post: @post %>
    </div>
  </div>



</div>


