<div class="col6 col-md-3">
  <% if user == current_user %>
    <h1>Your Profile</h1>
  <% else %>
    <h1>User Profile</h1>
  <% end %>

  <% if user %>
    <div class="mt-4 text-center">
      <%= link_to user_path(user.id) do %>
        <%= image_tag user.get_profile_image(150, 150), class: "img-fluid rounded-circle", style: "width: 150px; height: 150px; object-fit: cover;" %>
      <% end %>
    </div>
    <div class="mt-4">
      <p><b>Name</b></p>
      <p><%= user.name %></p>
    </div>
    <div class="mt-2 mb-4">
      <p><b>Introduction</b></p>
      <p><%= user.introduction %></p>
    </div>
  <% end %>

  <div class="d-flex my-2">
    <div class="mr-4">
      <%= link_to user_followings_path(user) , class: "follow_list_link" do %>
        <span>フォロー <%= user.followings.count %></span>
      <% end %>
    </div>
    <div>
      <%= link_to user_followers_path(user) , class: "follow_list_link" do %>
        <span class="mr-2">フォロワー <%= user.followers.count %></span>
      <% end %>
    </div>
  </div>

  <div class="py-2">

      <%= render "relationships/follow_btn", user: user, options: { class: "" } %>

  </div>

  <% if user == current_user %>
    <% unless user.guest_user? %>
      <div>
        <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block user_btn" do %>
          <i class="fa-solid fa-user-gear fa-sm"></i><span> プロフィールを編集</span>
        <% end %>
      </div>
    <% end %>
    <div class="my-4">
      <%= link_to new_post_path, class: "btn btn-block post_btn" do %>
        <i class="fa-solid fa-pen mr-2 post_btn_txt"></i><span class="post_btn_txt">ポストする</span>
      <% end %>
    </div>
  <% end %>



</div>