<div class="d-flex flex-column">
  <div>
    <% users.each do |user| %>
      <div class="d-flex flex-column flex-md-row p-md-3 py-3 border-bottom">
        <div class="col align-middle d-flex d-md-block justify-content-between">
          <%= link_to user_path(user.id), class: "" do %>
            <div class="d-flex align-items-center">
              <%= image_tag user.get_profile_image(150, 150), class: "img-fluid rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;" %>
              <span class="ml-2"><%= user.name %></span>
            </div>
          <% end %>
          <div class="d-sm-none col-5 p-0">
            <%= render "relationships/follow_btn", user: user, options: { class: "" } %>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 mt-2">
          <%= link_to user_path(user.id) do %>
            <%= user.introduction %>
          <% end %>
        </div>
        <div class="col-lg-2 col-md-3 d-none d-md-block ">
          <%= render "relationships/follow_btn", user: user, options: { class: "" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

