<div class="container">
  <% if @range == "User" %>
      <h1 class="my-4 ">ユーザーの検索結果</h1>
      <div class="d-flex flex-column col-lg-10 m-auto">
        <% @users.each do |user| %>
          <div class="py-2 border-bottom border-bottom-1">
            <%= link_to user_path(user.id) ,class: "d-flex flex-row align-items-center justify-content-around" do %>
              <div class="col-md-4">
                <%= image_tag user.get_profile_image(150, 150) ,class: "img-fluid rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;"%>
                <span class="ml-2"><%= user.name %></span>
              </div>
              <div class="col-md"><%= user.introduction %></div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% elsif @range == "Post" %>
      <h1 class="mb-4 ">投稿の検索結果</h1>
      <div class="d-flex flex-column">
        <% @posts.each do |post| %>
          <div class="p-2 border-bottom border-bottom-1">
            <%= link_to post_path(post.id), class: 'text-decoration-none text-dark' do %>
              <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                  <div class="col-2">
                    <%= image_tag(post.image.variant(resize_to_fill: [200, 100]).processed, class: "rounded img-fluid my-2") if post.image.attached? %>
                  </div>
                  <div class="col-3">
                    <%= post.title %>
                  </div>
                  <div class="col">
                    <%= post.body %>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-end">
                  <div class="mr-4">
                    <i class="fa-regular fa-comment"></i><span class="ml-1"><%= post.comments.count %></span>
                  </div>
                  <p class="fs_08"><%= post.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>