<!--@posts>>posts-->
<% if posts.present? %>
  <% posts.each do |post| %>
    <% user = post.user %>

    <div class="d-flex p-4 justify-content-center border-bottom ">
      <div class="mr-4 flex-shrink-0">
        <% if user %>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(60, 60), class: "img-fluid rounded-circle", style: "width: 60px; height: 60px; object-fit: cover;" %>
          <% end %>
        <% end %>
      </div>

      <div class="w-100">
        <% if user %>
          <span>
            <%= link_to user_path(user.id) do %>
              <b><%= user.name %></b>
            <% end %>
          </span>
        <% end %>

        <div class="mt-1">
          <h3><%= link_to post.title, post_path(post.id) %></h3>
        </div>

        <div class="mt-1">
          <%= post.body %>
        </div>

        <div class="mt-2">
          <%= link_to post_path(post.id) do %>
            <%= image_tag(post.image.variant(resize_to_fill: [400, 400]).processed, class: "rounded img-fluid") if post.image.attached? %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
<% else %>
<% end %>