<% if posts.present? %>
  <% posts.each do |post| %>

    <% user = post.user %>

    <div class="d-flex flex-column p-2 border-bottom w-100">
      <div>
        <% if user %>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100, 100), class: "img-fluid rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;" %>
            <span class="ml-2"><b><%= user.name %></b></span>
          <% end %>
        <% end %>
      </div>
      <%= link_to post_path(post.id), class: 'text-decoration-none text-dark' do %>
        <div>
          <h3 class="my-2"><%= post.title %></h3>
          <%= post.body %>
          <%= image_tag(post.image.variant(resize_to_fill: [600, 300]).processed, class: "rounded img-fluid my-2") if post.image.attached? %>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <div class=""></div>
          <div class="text-right">
            <p class="fs_08"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
<% else %>
  <p class="pt-4">まだ、投稿がありません。投稿してみましょう！</p>
<% end %>