<div class="container">
  <div class="">
    <% if @post.errors.any? %>
      <h5 class="text-danger"><%= @post.errors.count %>件のエラーが発生しました</h5>
      <ul class="list_style_error pl-4 mt-2">
        <% @post.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <div>
      <h3>投稿を編集</h3>
    </div>
    <div class="">
      <%= link_to post_path(@post.id) ,class:"btn" do %>
        <i class="fa-solid fa-xmark fa-xl normal_btn "></i>
      <% end %>
    </div>
  </div>

  <div class="py-2">
    <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
      <div class="d-flex flex-row justify-content-center">
        <div class="col pl-0">
          <div class="mx-auto">
            <h5 class="mb-2">Image</h5>
            <div class="mb-2">
              <% if @post.image.attached? %>
                <div class="mb-2">
                  <%= image_tag @post.image, class: "img-fluid rounded" , style: "width: 300px; height: auto;" %>
                </div>
                <div class="mb-2">
                  <%= f.check_box :remove_image %>
                  <%= f.label :remove_image, "現在の画像を削除する" %>
                </div>
              <% else %>
                <p>No Image</p>
              <% end %>
            </div>
            <p class="mb-2"><b>新しい画像を選択</b></p>
            <%= f.file_field :image ,accept: "image/*" , class:"form-control-file" %>
          </div>
        </div>
        <div class="col pr-0">
          <div class="mb-2">
            <h5 class="mb-2">Title</h5>
            <%= f.text_field :title ,class:"form-control" %>
          </div>
          <div class="mb-2">
            <h5 class="mb-2">Body</h5>
            <%= f.text_area :body ,class:"form-control" %>
          </div>
          <div class="field">
            <%= f.label :category_ids, 'Categories' %>
            <%= f.collection_select :category_ids, Category.all, :id, :name, { include_blank: "選択して下さい" }, { multiple: true, class: 'form-control' } %>
          </div>
          <div class="py-3 text-right">
            <span class="mr-3">
              <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <i class="fa-solid fa-trash fa-xl normal_btn"></i>
              <% end %>
            </span>
            <%= f.submit '更新する' ,class:"btn btn_bg_b" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>