<div class="container">
  <div class="row">
    <!-- ユーザーの詳細 -->
    <%= render 'users/side', user: current_user %>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h1>投稿一覧</h1>

      <% @posts.each do |post| %>
        <% user = post.user %>
        <% if user %>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(20, 20) %>
            <% end %>
        <% end %>
        <%= link_to post_path(post.id) do %>
          <div>
            <% if post.image.attached? %>
              <%= image_tag post.image, style: "width: 200px; height: auto;" %><!--画像を小さくかつ、切り抜いて表示させる-->
            <% else %>
            <% end %>
          </div>
          <div>
            <%= post.title %>
          </div>
          <div>
            <%= post.body %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>