<div class="container">
  <% if @post.errors.any? %>
    <h5><%= @post.errors.count %>件のエラーが発生しました</h5>
    <ul class="list_style_error">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h2 class="mt-4">New Post</h2>
  <div class="col-4">

    <div class="my-2">
      <%= form_with model: Post.new do |f| %>

        <h5 class="mb-2">Title</h5>
        <%= f.text_field :title ,class:"w-100 mb-2"%>

        <h5 class="mb-2">Body</h5>
        <%= f.text_area :body ,class:"w-100 mb-2"%>

        <h5 class="mb-2">Image</h5>
        <%= f.file_field :image, accept: "image/*" ,class:"mb-2"%>

        <div class="mt-4">
          <%= f.submit '投稿する' ,class:"btn btn_bg_b w-100"%>
        </div>
      <% end %>
    </div>
  </div>
</div>