<h2>Title</h2>
<p><%= @post.title %></p>

<h2>body</h2>
<p><%= @post.body %></p>

<h2>image</h2>
<% if @post.image.attached? %>
  <%= image_tag @post.image, style: "width: 300px; height: auto;" %>
<% else %>
  <p>No Image</p>
<% end %>


<% if @post.user_id == current_user.id %>
    <td style="width:15%">
        <%= link_to "Edit", edit_post_path(@post.id) ,class:"btn btn-sm btn-success edit_book_139534" %>
    </td>
    <td style="width:15%">
        <%= link_to "Destroy", post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？" ,class:"btn btn-sm btn-danger destroy_book_139534" %>
    </td>
<% end %>


